div {
    color: white;
    font-size: 20px;
}

p {
    margin-top: 10px;
}

body>.container {
    background-color: red;
}

body>.container-fluid {
    background-color: blue;
}

body .carousel-inner img {
    height: auto;
    width: auto;
}